@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "CascadiaCode";
    src: url(fonts/CascadiaCode-Light.otf);
}

@font-face {
    font-family: "CascadiaCodeBold";
    src: url(fonts/CascadiaCode-Bold.otf);
}

body {
    margin: 0;
    overflow-x: hidden;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

nav ul li {
    display: inline;
}


main ul li, main p {
    font-size: 10pt;
    list-style-type: circle;
}

footer p {
    font-weight: 600;
    font-size: 8pt;
    line-height: 1pt;
}

h1, header p {
    font-size: 150px;
    color: #fff;
    margin: 0;
}

h2 {
    font-size: 35px;
    margin: 0;
    border: 2px solid #6CC2BA;
    border-radius: 50px;
    width: fit-content;
    padding: 8px 25px;
}

h3 {
    font-size: 15pt;
    margin-bottom: -18px;
}

h4 {
    font-size: 12pt;
}

h5 {
    font-weight: 400;
    font-size: 10pt;
}

audio {
    width: 250px;
    height: 30px;
}


/* fonts */

h5, main ul li, main p, .descripcion, .fichatecnica p, .italica, footer p { 
    font-family: "Montserrat";
}

h1, h3, h4, .contacto p, header p {
    font-family: "CascadiaCode";
}

h2, .botonera li a, .bolder, .masinfo, .info h4, .g-proyectos h3 {
    font-family: "CascadiaCodeBold"
}

header p {
    font-weight: 600;
}

/* color fondo */

.h-index, .h-sobremi, .herramientas, .educacion, .experiencia, .contacto, footer, .columnas {
    background-color: #6CC2BA;
}

main, .masinfo, .descripcion {
    background-color: #fff;
}

/* animaciones */ 

.imagen img, .masinfo, .cont-proyectos img, .g-proyectos img {
    transition: transform 0.5s ease;
}

.imagen img:hover, .masinfo:hover, .cont-proyectos img:hover, .fraccion-galeria img:hover {
    transform: scale(1.1);
}

/* HEADER */

.h-index {
    height: 700px;
}

.h-sobremi {
    height: 100px;
}

.botonera li a {
    font-size: 15px;
    color: #fff;
    padding: 8px 60px;
    border: 2px solid white;
    border-radius: 30px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.botonera li a:hover {
    font-weight: bolder;
    color: #6cc2ba;
    background-color: #fff;
}

.botonera {
    padding: 30px;
    display: flex;
}

.home {
    margin-right: auto;
    padding: 0px 20px;
}

.titular {
    display: flex;
    justify-content: center;
}

.smile {
    padding-top: 35px;
}

/* MAIN */

.flores {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.flor {
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

 /*sobre mi */

.imagen img {
    border-radius: 50px;
    margin-left: 100px;
}

.masinfo {
    font-size: 13pt;
    color: #fff;
    background-color: #6CC2BA;
    border-radius: 50px;
    width: fit-content;
    padding: 6px 50px;
    margin-top: 40px;
}

.descripcion {
    font-size: 11pt;
    line-height: 16pt;
    padding-top: 15px;
    padding-left: 10px;
    margin-left: 5px;
    text-align: left;
}

.contenedor {
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

.textodescriptivo {
    width: 450px;
    margin-right: 20px;
}

/* proyectos destacados */

.destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.cont-proyectos {
    display: flex;
    justify-content: center;
}

.tituloproyectos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cont-proyectos img {
    border-radius: 40px;
    margin: 30px 8px 60px 8px;
    box-sizing: border-box;
}

.cont-proyectos img:hover {
    border: 5px solid #6CC2BA;
}

.interlineado p {
    line-height: 3pt;
}

/* contacto */

.contacto {
    display: flex;
    flex-direction: column;
}

.contacto p {
    font-weight: bold;
    font-size: 70px;
    color: #fff;
    margin-left: 80px;
    padding-top: 0;
    padding-bottom: 0;
}

.contacto img {
    margin-left: 80px;
    padding-bottom: 50px;
}

/* FOOTER */

.textofooter {
    border-radius: 50px;
    border: 1px solid white;
    padding: 5px 30px;
    margin: 10px 0px 15px 15px;
}

footer img {
    margin: 5px;
}

.logos-contacto {
    display: flex;
    margin-right: 50px;
}

/* SOBRE MI PAGE */

.columnas h2 {
    font-size: 26px;
}

.columnas h3 {
    font-size: 13pt;
}

.caja1, .caja2 {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.herramientas img {
    padding: 5px;
}

.herramientas ul {
    padding: 0;
    margin: 0;
}

.herramientas ul li {
    list-style: none;
}

.herramientas h3 {
    margin-bottom: 10px;
}

.titulo-caja {
    display: flex;
    justify-content: center;
}

.herramientas, .educacion, .experiencia, .song {
    margin: 20px;
    background: #fff;
    padding: 50px;
    border-radius: 50px;
}

.educacion, .experiencia {
    width: 400px;
}

.herramientas {
    width: 300px;
    height: fit-content;
}

.song {
    width: 300px;
    height: fit-content;
}

.educacion h3, .educacion h4, .educacion h5 {
    margin-top: 7px;
    margin-bottom: 7px;
}

.educacion-info {
    margin-top: 18px; 
    margin-bottom: 30px;
}

.reproductor {
    display: flex;
}

.reproductor img {
    border-radius: 30px;
    padding: 20px;
}

.titulo-song h4 {
    margin-bottom: 8px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
    background-color: white;
    color: #fff;
}

/* PROYECTOS */

.g-proyectos h3 {
    font-size: 75pt;
    margin-top: 0;
}

.info h4 {
    font-size: 17pt;
}

.galeria {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.g-proyectos img {
    border-radius: 60px;
    margin: 20px 12px;
}

.g-proyectos img:hover {
    transform: scale(1.08);
}

.fichatecnica {
    border: 2px solid #6CC2BA;
    width: 380px;
    border-radius: 40px;
    padding: 20px;
}

.fichatecnica p, .italica {
    font-family: "Montserrat";
    font-size: 11pt;
}

.italica {
    font-style: italic;
}

.info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin: 0px 50px 30px 50px;
}

.columnas {
    display: flex;
    justify-content: center;
}

/* galeria */

#galeria {
	display: none;
	width: 100%;
	justify-content: center;
	height: 100vh;
	background-color: white;
	position: fixed;
	top: 0;
	z-index: 10;
}

#galeria-oculta {
	width: 100%;
	max-width: 1450px;
	overflow: hidden;
	z-index: 20;
}

.fraccion-galeria {
	display: flex;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 100%;
	min-width: 1200px;
	height: 100vh;
	justify-content: space-around;
}

.fraccion-galeria a:first-child {
    margin-right: 400px;
}

.fraccion-galeria a:last-child {
    margin-left: 400px;
}

.close {
	position: absolute;
	top: 10px;
	right: 2%;
}

.primer-ultima-flecha {
    visibility: hidden;
}

.fraccion-galeria img {
    filter: hue-rotate(0deg) saturate(100%) brightness(100%);
    transition: filter 0.4s ease, transform 0.5s ease;
    cursor: pointer;
}

.fraccion-galeria img:hover {
    filter: hue-rotate(60deg) saturate(130%) brightness(70%)
}

/* imágenes galeria */

#foto-1 {
	background-image: url("img/jack-davison/jack-davison-apertura-galeria.jpg");
}

#foto-2 {
	background-image: url("img/jack-davison/jack-davison-linea-galeria.jpg")
}

#foto-3 {
	background-image:url("img/jack-davison/jack-davison-catalogo-galeria.jpg");
}

#foto-4 {
    background-image:url("img/musica-latina/musica-latina-desplegable.jpg");
}

#foto-5 {
    background-image:url("img/musica-latina/musica-latina-staff.jpg");
}

#foto-6 {
    background-image:url("img/musica-latina/musica-latina-disco.jpg");
}

#foto-7 {
    background-image:url("img/wicca/wicca-afiches.jpg");
}

#foto-8 {
    background-image:url("img/wicca/wicca-instagram.jpg");
}

#foto-9 {
    background-image:url("img/wicca/wicca-merch.jpg");
}

#foto-10 {
    background-image:url("img/fallen-angels/fallen-angels-cigarrillo.jpg");
}

#foto-11 {
    background-image:url("img/fallen-angels/fallen-angels-jeringa.jpg");
}

#foto-12 {
    background-image:url("img/fallen-angels/fallen-angels-telefono.jpg");
}

/* CONTACTO PAGE */

.p-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
}

.p-contacto h2 {
    border: none;
    font-size: 70px;
    color: #6CC2BA;
    padding: 0;
}

.charlemos {
    display: flex;
}

.charlemos img {
    margin-left: 30px;
}

.checkbox {
    background-color: #fff;
    border-radius: 30px;
    width: 750px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    margin-bottom: 30px;
    margin-top: 10px;
}

form {
    width: 750px;
    height: auto;
    background-color: #6CC2BA;
    padding: 40px;
    border-radius: 45px;
    margin-top: 15px;
}

input[type=text], input[type="email"] {
    padding: 2px;
    font-family: "Montserrat";
    border: none;
    background-color: white;
    border-radius: 30px;
    width: 350px;
    height: 30px;
    margin-top: 8px;
    margin-bottom: 30px;
    padding-left: 15px;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus { 
    outline: none;
}

label {
    font-family: "CascadiaCodeBold";
    font-size: 15px;
    color: #6CC2BA;
    cursor: pointer;
}

label[for="nombre"], label[for="email"], label[for="mensaje"],label[for="tipologia"] {
    font-family: "CascadiaCode";    
    font-size: 18px;
    color: white;
}

.linea-form {
    display: flex;
    gap: 30px;
}

textarea {
    width: 720px;
    height: 115px;
    border: none;
    border-radius: 50px;
    margin-top: 10px;
    padding: 30px 20px 30px 20px;
    font-family: "Montserrat";
}

.enviar {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

.boton-form {
    font-family: "CascadiaCodeBold";
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 30px;
    width: 150px;
    height: 32px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.boton-form:hover {
    font-family: "CascadiaCodeBold";
    color: #6CC2BA;
    background-color: white;
    border-radius: 30px;
    width: 150px;
    height: 32px;
    cursor: pointer;
}

.menu-toggle {
    display: none;
}

.menu-hamburguesa {
    display: none;
}

.full-desaparecer {
    display: none;
}

.boton-fijo {
	position: fixed;
	bottom: 0%;
	right: 0;
    margin-right: 32px;
    transform: translateY(-80%);
	background-color: #6CC2BA; 
	padding: 10px;
    border-radius: 100px;
	z-index: 70;
}

/* media query */

@media screen and (max-width: 600px) {

    .desaparecer {
        display: none;
    }

    .full-desaparecer {
        display: block;
    }

    h1, header p {
        font-size: 100px;
    }

    h2 {
        text-align: center;
        width: 50vw;
        font-size: 25px;
    }

    .botonera ul li {
        display: none;
    }

    .menu-toggle {
        display: none;
    }
    
    .menu-hamburguesa {
            display: inline-block;
        }
    
    .botonera ul li {
            display: none;
        }
    
    .menu {
        display: none;
        position: absolute;
        left: 0;
        margin-top: 70px;
        width: 100vw;
        height: 90vh;
        background-color:#6CC2BA;
        text-align: center;
        }

    .menu-toggle:checked + .menu-hamburguesa + .menu {
        display: block;
    }
    
    .menu ul li {
        display: block;
        margin: 50px;
        margin-top: 15px;
    }
    
    .menu ul li a {
        font-size: 20px;
        background-color: #fff;
        color:#6CC2BA;
        padding: 10px 30px 10px 30px;
        text-decoration: none;
        border-bottom: 1px solid #fff;
    }

    .flor {
        height: 5vh;
    }

    .textodescriptivo {
        margin: 0px;
        display: flex;
        justify-content: center;
    }

    .contenedor-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    .imagen img {
        padding: 20px 0px 10px 0px;
        margin: 0px;
        max-width: 70vw;
        transition: none;
    }

    .imagen img:hover, .masinfo:hover {
        transform: none;
    }

    .contenedor-mobile p {
        line-height: 25px;
        font-size: 14px;
        margin: 25px;
    }

    .masinfo {
        font-size: 20px;
        text-align: center;
        padding-top: 8px;
        padding-bottom: 8px;
        margin: 0px;
        width: 60%;
    }

    .destacados {
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .destacados-titulo {
        display: flex;
        justify-content: center;
    }

    .destacados h2 {
        margin-bottom: 20px;
    }

    .cont-proyectos {
        display: flex;
        justify-content: center;
        width: 350px;
        margin-bottom: 15px;
    }

    .cont-proyectos img {
        margin: 15px;
        max-width: 90%;
    }

    .contacto p {
        font-size: 45px;
        margin: 30px;
    }

    .contacto img {
        width: 100px;
        margin: 30px;
    }

    footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .textofooter {
        border-radius: 50px;
        border: 1px solid white;
        width: 60%;
        margin: 20px 0px;
    }

    .textofooter p {
        line-height: 15px;
    }

    .logos-contacto {
        margin: 5px 0px;
    }
    
}